header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.article {
  flex-direction: column;
  flex-basis: 300px;

  margin: 8px;
  padding: 16px;
  background-color: bisque;
}
