* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
}
.article {
  flex-direction: column;
  flex-basis: 300px;
  flex-grow: 1;
  margin: 8px;
  padding: 16px;
  background-color: bisque;
}
