* {
  box-sizing: border-box;
}
input {
  display: block;
  margin: 8px;
}
input[type='checkbox'] {
  margin-bottom: 16px;
}
form {
  margin: 32px;
}
.languages {
  display: inline;
}
textarea {
  margin-left: 8px;
}
input[type='radio'] {
  display: inline-block;
}
select {
  margin-left: 8px;
}
