* {
  box-sizing: border-box;
}
.square {
  width: 100px;
  height: 100px;
  background-color: tomato;
  transform: translate(160px, 100px) rotate(45deg) scale(1.5);
}
.text {
  display: inline;
  margin: 30px;
  padding: 7px;
  background-color: #faebd7;
  border-radius: 3px;
}
