.header,
footer {
  height: 50px;
}
.header {
  background-color: yellow;
}
.footer {
  background-color: green;
  clear: both;
}

.content {
  width: 80%;
  height: 500px;
  float: left;
  background-color: pink;
}

.sidebar {
  height: 500px;
  float: left;
  width: 20%;
  background-color: gray;
}
