* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
.properties-list {
  color: #f39;
  list-style-type: none;
}
.properties-list__item {
  font-size: 24px;
  padding: 9px;
  line-height: 32px;
}
